@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --background: #fef5ee;
  --foreground: #171717;
  --brand: #2b5637;
  --point: #f3d002;
  --sub: #f8b0c4;

  /* responsive */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand: #ffe066;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-gmarket-md);
}

h3 {
  font-family: var(--font-changwon-bold);
  @apply text-2xl;
}
