@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef5ee;
  --foreground: #171717;
  --brand: #2b5637;
  --point: #f3d002;
  --sub: #f8b0c4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand: #ffe066;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
p {
  color: var(--sub);
}
